<div class="avis-card">
  <div class="avis-header">
    {{ if .Get "avatar" }}
      <img src="{{ .Get "avatar" }}" alt="{{ .Get "nom" }}" class="avis-avatar">
    {{ else }}
      <div class="avis-avatar-placeholder">{{ substr (.Get "nom") 0 1 }}</div>
    {{ end }}
    
    <div class="avis-info">
      <h4 class="avis-nom">{{ .Get "nom" }}</h4>
      <div class="avis-stars">
        {{ $note := .Get "note" | int }}
        {{ range seq 1 5 }}
          {{ if le . $note }}
            <span class="star filled">★</span>
          {{ else }}
            <span class="star empty">☆</span>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  
  <div class="avis-content">
    <p>"{{ .Get "texte" }}"</p>
  </div>
</div>